export(bed2Seq)
export(findAltSplicing)
export(findConservedTFBS)
export(findPals)
export(findQuads)
export(findShapes)
export(findTFBS)
export(loadFile)
export(plotTF)
export(reorderBed)
export(scatterConsTF)
export(isEmptyDF)
export(nameStudy)
export(validateBed)
export(findSpliceSites)
export(plotBeta)
export(plotCpG)
export(importGEO)
export(loadSeqGEO)
export(meinter)
import(rtracklayer)
import(tidyverse)
import(Biostrings)
import(Biobase)
import(TxDb.Hsapiens.UCSC.hg19.knownGene)
importFrom(BSgenome, getSeq)
importFrom(BSgenome.Hsapiens.UCSC.hg19, Hsapiens)
importFrom(grDevices, dev.off)
import(GenomeInfoDb)
import(ggplot2)
importFrom(plyr, empty)
importFrom(plyr, count)
importFrom(plyr, join)
importFrom(S4Vectors, queryHits)
importFrom(S4Vectors, subjectHits)
import(IRanges)
importFrom(GenomicRanges,GRanges, makeGRangesFromDataFrame)
import(TFBSTools)
import(DNAshapeR)
importFrom(BiocGenerics, density)
import(pqsfinder)
import(JASPAR2018)
importFrom(stats, lm)
importFrom(stats4,plot)
importFrom(stats, loess)
import(XVector) 
import(parallel) 
import(reshape2)
import(GenomicFeatures)
import(GEOquery)
import(FDb.InfiniumMethylation.hg19)
importFrom(graphics, abline, grid, legend, par, polygon)
importFrom(utils, read.csv, write.table)
importFrom("grDevices", "dev.list")
importFrom("stats", "na.omit")
importFrom("stats", "wilcox.test")
